<div class="sub-content">
    <div class="listing">
       <app-maincontent></app-maincontent>
       
        <div>
            <app-footer></app-footer>
        </div>
    </div>

    <div class="category-section">
        <div class="catergory-search input-group">
            <span class="input-group-text"><i class="las la-search la-flip-horizontal"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            </div>
       
        <div class="category-list">
            <app-categorylist></app-categorylist>
        </div>
        <div class="category-title">
            <app-categorytitle></app-categorytitle>
        </div>
        
    </div>
</div>