
    <ul>
        <li><a href="#">
                <h6>Array Constrain</h6>
                <small>Constrains an array result to a specified size</small>
            </a></li>
        <li><a href="#">
                <h6>Flatten</h6>
                <small>Flattens values into a single column</small>
            </a></li>
        <li><a href="#">
                <h6>Frequency</h6>
                <small>The Frequency distribution of array</small>
            </a></li>
        <li><a href="#">
                <h6>Growth</h6>
                <small>Fits points to exponential growth trend</small>
            </a></li>
    </ul>
