<ul>
    <li><a href="#">
            <h6>Array Constrain</h6>
            <small>Constrains an array result to a specified size</small>
        </a></li>
    <li><a href="#">
            <h6>Flatten</h6>
            <small>Flattens values into a single column</small>
        </a></li>
    <li><a href="#">
            <h6>Frequency</h6>
            <small>The Frequency distribution of array</small>
        </a></li>
        <li><a href="#">
            <h6>Growth</h6>
            <small>Fits points to exponential growth trend</small>
        </a></li>
    <li><a href="#">
            <h6>Linest</h6>
            <small>Best-fit linear trend via least-square</small>
        </a></li>
    <li><a href="#">
            <h6>Logest</h6>
            <small>Best-fit exponential growth curve</small>
        </a></li>
    <li><a href="#">
            <h6>Mdeterm</h6>
            <small>Matrix determinant of a square matrix</small>
        </a></li>
    <li><a href="#">
            <h6>Minverse</h6>
            <small>Multiplicative inverse of square matrix</small>
        </a></li>
    <li><a href="#">
            <h6>Mmult</h6>
            <small>The Matrix product of two matrices</small>
        </a></li>
    <li><a href="#">
            <h6>SUMProduct</h6>
            <small>Sum of product of element in two arrays</small>
        </a></li>
    <li><a href="#">
            <h6>SumX2MY2</h6>
            <small>Sum of the differences of squares</small>
        </a></li>
    <li><a href="#">
            <h6>SUMX2PY2</h6>
            <small>Sum of sums of squares</small>
        </a></li>
    <li><a href="#">
            <h6>SUMXMY2</h6>
            <small>Sum of the squares of differences</small>
        </a></li>
    <li><a href="#">
            <h6>Transpose</h6>
            <small>Transpose rows and columns of an array</small>
        </a></li>
    <li><a href="#">
            <h6>Trend</h6>
            <small>Fits points to linear trend derived via least square</small>
        </a></li>
</ul>