
    <ul>
        <li><a routerLink="" class="active"><i class="las la-code"></i> <small>Array</small></a></li>
        <li><a routerLink="Database"><i class="las la-database"></i> <small>Database</small></a></li>
        <li><a routerLink="Date"><i class="las la-calendar"></i> <small>Date</small></a></li>
        <li><a routerLink="Engineering"><i class="las la-pencil-ruler"></i> <small>Engineering</small></a></li>
        <li><a routerLink="Filter"><i class="las la-filter"></i> <small>Filter</small></a></li>
        <li><a routerLink="Financial"><i class="las la-dollar-sign"></i> <small>Financial</small></a></li>
        <li><a routerLink="Google" ><i class="lab la-google"></i> <small>Google</small></a></li>
        <li><a routerLink="Info"><i class="las la-info-circle"></i> <small>Info</small></a></li>
        <li><a routerLink="Logical"><i class="las la-infinity"></i> <small>Logical</small></a></li>
    </ul>


    <!--class="active"-->